.App {
  text-align: left;
  margin-top: 60px;
}

.App h3 {
  color: rgb(44, 167, 255);
}

.App h5 {
  font-size: 2rem;
  color: rgb(255, 127, 150);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  color: grey !important;
  font-size: 1.5rem !important;

}

p {
  font-size: large;
  margin: 0;
  text-align: left;
}
ul {
  font-size: medium;
  margin: 0;
  text-align: left;
}

.App-header {
  background-color: #282c34bc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(199, 199, 199);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
